 /* CSS= CASCADING STYLE SHEETS
 Responsible for styling the web
 HTML- structure,CSS layout,look
 selector{property:value; property:value;} */

 h1 {
    color: green;
    font-size: 5rem;
}

h2 {
    color: blue;
    font-size: 4rem;
}

/*  
CSS rules
1. selectors (h1 and h2)
2. decleration block
{

}
3. decleration (color: green; font-size: 5rem;)
4. property (color ,font-size)
5. value (green ,5rem)*/

/* ELEMENT SELECTORS 
 element selector is to select the element in css its like headings ,peragraph and body*/
/* type 1 */
h1 {
    color: blue;
}

h2 {
    color: brown;
}

p {
    color: aqua;
}

/* type 2 */
h1,
h2 {
    color: blue;
}

p {
    color: aqua;
} 

/* type 3 */
 body {
    color: blue;
}
h1,h2 {
    color: red;
}
/* ID */
#heading{
    color: blue;
    background: black;
} */

/* CLASS */
 .red{
    color: red;
}
.green{
    color: green;
}

/* ID AND CLASS
Both are same but css sintax different in id used '#'and in class '.' */
#title{
    font-size: 2rem;
}
.lowercase{
    text-transform: lowercase;
}
/* DIV AND SPAN 
Dive is the block element its applicable for whole block 
Span is line element its applicable for the particular selected words */
.green{
    color: green;
    
}
.red{
    color: red;
    
}
div{
    color: aqua;
}
span{
    text-transform: uppercase;
}
/* INHERITANCE
It means some styles we can apply to parent it is automatically appplicable to childrens also  */
div {
    color: brown;
    border: 2px solid pink;
}
h1 {
    color: aqua;
    border: 2px solid pink ;
}
/* LAST RULE AND SPECIFICITY * UNIVERSEL SELECTOR 
Last rule means if we are given two rules for one element to check and take the specific rule taken if both are normal it takes last rule
specificity is also same like last rule it takes specificity rule 
Star * is the universal selector it applicable to entire elements */

/* CSS TUTORIAL
1. colors ,background colors, background
2. colors names 
3. rgb rgba
4. visual studio color options
5. external resorces  */

/* 
color properties is the given color to headings or paragraph
background color is the given color for the background to heading or paragraph
color names there are 140 basic color names are there.
RGB RED BLUE GREEN 0-255
This formet used to thick colors are formed 
This formate is apply for large projects for using many colors 
This formate like [rgb(255,255,255)]
And also used for background colors 
RGBA 0-1 OPACITY/TRANSPARENCY
This is very powerful and colors are very light 
And those are used for the backgrounds 
formate like [rgba(0,0,0,0.5)]
And also like [rgba(200,240,120,0.3)]
that fourth coordinator is that dark color change to lighter 
At here four coordinators are there 
 */

 /* CSS TUTORIAL
 1. Absolute, relative
 2. pixels
 3. em,rem
 4. vw,vh
 5. font size,hight,width */

 /* 
 Relative depends on the perent
 and also relative font size depends upon screen
 Absolute is the standard in any screen 
 pixels is the units of length and width and hight 
 em is depends on the perent 
 rem 16 px defolt size brower defolt style 
 vw is width of the given data 
 It is based on the screen size 
 vh is hight of the given data 
 And it is also based on the screen size
  */

  /* 
  Calc function perform addtion,subtraction,multiplication and divison 
  in this function calculated the page more beautiful */
/* 
 TYPOGRAPHY
 1. Property
 2. Font stack, generic family
 3. Google fonts
 
 font family is to change the style of peragraph and headings 
 font stack amd generic family
 generic family -serif,sans serif,cursive,fantasy,monospace
 In font stack allow the generic font family to takes 
 And its given multipule options 
 google fonts are takes to pick from the google 
 there are two types of access to css 
 one is to copy the link put out html  
 another one is import the link to css
 font weight is getting boolder and lighter like that 
 font style is to change style 
 text aliner to set the text at center or left or right 
 text indent is set the paragaphs frost line adjustment 
 line height is to set the space by line to line 
 letter spacing is to given space to one latter to another latter
 word spacing is to given space to one word to another word
 text transform is to modify the text like uppercase ,lowercase,capitaize 
 text decoraction is to modify the text like underline ,line through,overline and to remove the line under the link 
  */

 /*
  opacity property is to increase and decrese the brightness of the data and also if we are given value is zero data is disappper 
  
  visibility property is like there are some values like hidden, visible */
  /* 
  float, clear
  position: static,relative,absolute,fixed
  media-queries
  z-index
  ::before and ::after pseudo elements
  
  float: If the paragraph and image both are in css to adjust the image left and right is called float
  
  clear: It is also same like float but in clear property to clear the paragraph besides that image means adjust the paragraph  
  
  position static: In position any value given perent that can applicable to child also and if child have sub child not applicable to that one if we are given value is static defoult applyicable to all 
  
  position relative: In relative position given data like heading or paragraph to adjust any where in the css page 

  absolute position: In absolute position data is set to corner to the left and right of up and down

  position fixed: in fixed position data is fixed at that place 

  pseudo element::after ::before
  In this element must wrote contant and no problem if not given value to contant. given that contant applicable to all properties 
  At here 

  whwn we are used before element that contant add before of the data same like after data adding at after
  */
  /* 
  basic selectors
  pseudo class selectors
  pseudo element selectors*/

